.Contact {
	background-image:url("../../img/phone.png");
    width: 100%;
    height: calc(100vh - 59px);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 20%;
}

.contactForm {
	border-radius: 3px;
	padding: 10px;
}

.contactForm div {
	display: flex;
	padding: 5%;
}


.Contact label {
	white-space: nowrap;
}