@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.NextPageBlock {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 80px;
}


.Presentation .NextPage {
	margin: auto;
	margin-top: 10%;
}

.NextPage {
	display: flex;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #FFF;
}

.NextPage a {
	text-align: center;
	font-family: 'Comfortaa', cursive;
    font-size: 2em;
    height: 100%;
    width: 100%;
}