.Presentation {
	background-image:url("../../img/crg-crea.jpg");
	background-position-x: 10%;
	width: 100%;
	height:  calc(100vh);
	padding-top: 70px;
}

.Presentation h4 {
	text-align: center;
	color: #000;
	vertical-align: center;

}

.Presentation .typeWriter {
	background: rgba(96, 106, 164, .7);
	padding: 2%;
	margin: 10% auto;
	border-radius: 4px 0 0 4px;
	display: block;
	height: 30px;
	width: 100%;
	max-width: 300px;
}

.line-1{
	border-right: 2px solid rgba(255,255,255,.75);
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);    
}

/* _________ Animation type writer _________ */
.anim-typewriter{
	animation: typewriter 4s steps(32) 1s 1 normal both,
	blinkTextCursor 600ms steps(32) infinite normal;
}

@keyframes typewriter{
	from{width: 0;}
	to{width: 100%;}
}

@keyframes blinkTextCursor{
	from{border-right-color: rgba(000,000,000,.9);}
	to{border-right-color: transparent;}
}


/* _________ Bloc principal _________ */

.blocPesentation {
	background-color: #FFF;
	border-radius: 4px;
	padding: 10%;
	height: 55%;
	display: flex;
}

.MenuDeep .BlockPrincipal {
	margin: auto;
}


.blocPesentation p {
	text-align: center;
	margin: auto;
}

/* _________ Adaptation to bootsrap _________ */ 

.Presentation .show-grid.row,
.Presentation .col-xs-10,
.BlockPrincipal {
	height: 100%
}

.Presentation .row {
	margin:0;
}

/* _________ adjustment for xs screen _________ */

@media (max-width: 400px) {
	.Presentation h4 {
		font-size: 14px;
	}
}




