.Presentation {
	background-image:url(https://images.pexels.com/photos/196658/pexels-photo-196658.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
	background-position-x: 10%;
	width: 100%;
    height: calc(100vh - 59px);
	background-position: center;
	background-repeat: no-repeat;
}

/* _________ Bloc principal _________ */

.blocPesentation {
	background-color: #FFF;
	border-radius: 4px;
	padding: 5%;
	width: 65%;
	margin: 50px auto;
}

.blocPesentation p {
	text-align: justify;
	margin: auto;
}


/* _________ Animation type writer _________ */

.typeWriterBg {
	background: rgba(96, 106, 164, .7);
	width: 100%;
	max-width: 305px;
	margin: auto;
	border-radius: 4px;
	margin: 20px auto;
}

.Presentation .typeWriter {
	padding-left: 55px;
	text-align: center;
	color: #000;
	vertical-align: center;
}

.animTypeWriter {
	animation: typewriter 4s steps(32) 1s 1 normal both,
	blinkTextCursor 600ms steps(32) infinite normal,
	stop 600ms steps(32) 5s infinite normal;
	margin-bottom: 0;
}

.animTypeWriter2 {
	animation: typewriter 4s steps(32) 5s 1 normal both,
	blinkTextCursor 600ms steps(32) 5s infinite normal;

}


@keyframes typewriter{
	from{width: 0;}
	to{width: 100%;}
}

@keyframes blinkTextCursor{
	from{border-right-color: rgba(000,000,000,.9);}
	to{border-right-color: transparent;}
}

@keyframes stop {
	from { border-right-color: transparent;}
	to{border-right-color: transparent;}
}

.typeWriter h4 {
	border-right: 2px solid transparent;
	white-space: nowrap;
	overflow: hidden;
	max-width: 200px;
	text-align: center;
}

/* _________ adjustment for xs screen _________ */

@media (max-width: 400px) {

}




