.Projects {
	background-image:url("../../img/clavier.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.Projects img{
	height: 200px;
}

.Project {
	background: #222;
	border-radius: 5px;
	color: #FFF;
	padding: 20px;
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
}



/*h2 {
	position: relative;
	top: 0;
	transition: top .4s,
	}*/
/*
.MenuDeep h2 {
position: relative;
top: -50px;
transition: top .4s;	
}*/