.Projects {
	background-image:url("../../img/clavier.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.Projects img {
	width: 100%;
}

.Project {
	background: #222;
	border-radius: 5px;
	color: #000;
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
	background-color: #fff;
	padding: 10px;
}

.Project > div {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.Project div div {
	text-align: right;
}

.Project div div > * {
	display: inline-block;
	background-color: #606aa4;
}

.Project div:nth-child(n+2)  button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 0;
}

.Project div div p {
	border-radius: 5px;
	padding: 5px;
}