.Presentation {
	background-image:url("../../img/work.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* _________ Bloc principal _________ */

.blocPesentation {
	background-color: #FFF;
	border-radius: 4px;
	padding: 5%;
	width: 65%;
	margin: 50px auto;
	min-width: 300px;
}


.blocPesentation p {
	text-align: justify;
	margin: auto;
}


/* _________ Animation type writer _________ */

.typeWriterBg {
	background: rgba(96, 106, 164, .7);
	width: 100%;
	max-width: 305px;
	margin: auto;
	border-radius: 4px;
	margin: 20px auto;
}

.Presentation .typeWriter {
	padding-left: 55px;
	text-align: center;
	color: #000;
	vertical-align: center;
}

.typeWriterTop{
	border-radius: 4px 4px 0 0;
}

.typeWriterBot {
	border-radius: 0 0 4px 4px;
}

.animTypeWriter {
	animation: typewriter 4s steps(32) 1s 1 normal both,
	blinkTextCursor 600ms steps(32) infinite normal,
	stop 600ms steps(32) 5s infinite normal;
	margin-bottom: 0;
}

.animTypeWriter2 {
	animation: typewriter 4s steps(32) 5s 1 normal both,
	blinkTextCursor 600ms steps(32) 5s infinite normal;
}


@keyframes typewriter{
	from{width: 0;}
	to{width: 100%;}
}

@keyframes blinkTextCursor{
	from{border-right-color: rgba(000,000,000,.9);}
	to{border-right-color: transparent;}
}

@keyframes stop {
	from { border-right-color: transparent;}
	to{border-right-color: transparent;}
}

h4 {
	border-right: 2px solid transparent;
	white-space: nowrap;
	overflow: hidden;
	max-width: 200px;
	text-align: center;
}

/* _________ adjustment for xs screen _________ */

@media (max-width: 400px) {

}




