.App {
  text-align: center;
}

.MenuDeep main {
  top: 0;
  transition: top .4s;
}

#root {
    overflow: hidden;
}

.BlockPrincipal {
  margin-top: 15%;
}

.Projects h2,
.Contact h2 {
  color: #FFF;
}